@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

*{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
/* A cada 1 rem será considerado 10px*/
font-size: 62.5%;
}

html,
body {
height: 100vh;
font-family: "Source Sans Pro";
text-rendering: optimizelegibility;
-webkit-font-smoothing: antialiased;
}

body{
font-size: 1.3rem;
}

/*Header*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    background-color: #483D8B;
    height: 7rem;
}

.logo{
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-size: 2rem;
    padding: 10px;
}

.toggle{
    cursor: pointer;
    font-size: 3rem;
    padding: 4px 8px;
    color: #fff;

    display: none;
}

nav ul ul{
    position: absolute;
    visibility: hidden;
    top: 70px;   
    z-index: 10;
}

nav li{
    float: left;
    width: 18rem;
    background-color: #483D8B;
    text-align: center;
}

.a{
    cursor: pointer;
}

nav li a{
    display: block;
    font-size: 1.8rem;
    color: #fff;
    padding: 24px 10px;
}

nav ul li:hover ul{
    visibility: visible;
}

nav ul ul li{
    float: none;
}

nav ul ul li:hover{
    background-color: #836FFF;
    
}


/*Footer*/

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 5rem 2rem;
    background-color: #483D8B;
}

.footer__content h3, .footer__content-Social h3{
    color: #fff;
    font-size: 1.8rem;
    padding: 10px;
}

.footer__content a{
    display: block;
    color: #fff;
    font-size: 1.6rem;
    padding: 10px;
    margin: 2px 0px;
}

.footer__content-Social img{
    background-color: #fff;
    padding: 4px;
    border-radius: 5rem;
    margin: 3px;
}

.footer-line{
    text-align: center;
    background-color: #483D8B;
    color: #fff;
    font-size: 1.6rem;
    padding: 10px;
}

/*Responsividade*/

@media (max-width: 900px){
    .toggle{
        display: block;
    }

    nav{
       position: absolute;
       top: 70px;
       right: 0px;
       transform: translateX(100%);
       transition: all 1s;
    }

    nav.showMenu{
        transform: translateX(0);
    }

    nav li{
        float: none;
        width: 40rem;
    }

    nav ul ul{
        position: static;
        overflow: hidden;
        max-height: 0px;
        transition: all 1s;
    }

    .showImoveis, .showInstitucional, .showServiços, .showLogin{
        height: auto;
        max-height: 300px;
    }

}

@media (max-width: 720px){
    .footer-container{
        grid-template-columns: 1fr 1fr;
        justify-items: left;
        align-items: flex-start;
        gap: 2rem;
        padding: 3rem;
    }

}

@media (max-width: 550px){
    .footer-container{
        grid-template-columns: 1fr;
        justify-items: left;
    }

    .footer__content h3, .footer__content-Social h3{
        font-size: 2rem;
    }

    .footer__content a{
        font-size: 1.8rem;
    }

}

@media (max-width: 400px) {
    nav li{
        width: 100%;
        min-width: 37rem;
    }
}