.img_slide {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
}

.slide {
    display: none;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbers {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.informaçoes-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 30px;
    align-items: center;
}

.informaçoes{
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

.dados h1,
.caracteristicas h1{
    font-size: 3rem;
    margin: 10px 0px;
}

.dados h2{
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.dados p,
.caracteristicas p{
    font-size: 2rem;
    margin-bottom: 3px;
}

.comodos{
    display: flex;
    align-items: center;
}

.icon-comodo{
    margin-left: 30px;
}

.form{
    width: 100%;
    max-width: 400px;
    background-color: rgb(170, 240, 216);
    padding: 20px 30px;
    border-radius: 10px;
}

.form input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    margin: 8px 0px;
    outline: none;
}

.nome_telefone{
    display: flex;
    
}

.form textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 8px 0px;
    outline: none;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 8px 0px;
    font-size: 1.6rem;
    background-color: orangered;
    color: #fff;
}

