@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

*{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
/* A cada 1 rem será considerado 10px*/
font-size: 62.5%;
}

html,
body {
height: 100vh;
font-family: "Source Sans Pro";
text-rendering: optimizelegibility;
-webkit-font-smoothing: antialiased;
}

body{
font-size: 1.6rem;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    background-color: #483D8B;
    height: 8rem;
}

.logo{
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-size: 2.4rem;
    padding: 10px;
}

nav ul ul{
    position: absolute;
    visibility: hidden;
    top: 80px;   
}

nav li{
    float: left;
    width: 20rem;
    background-color: #483D8B;
    text-align: center;
}

nav li a{
    display: block;
    font-size: 2rem;
    color: #fff;
    padding: 26px 10px;
}

nav ul li:hover ul{
    visibility: visible;
}

nav ul ul li{
    float: none;
}

nav ul ul li:hover{
    background-color: #836FFF;
    
}

.container{
    background: url('/img/pexels-kelly-lacy-2949992.jpg') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;

    background-color: rgba(0, 0, 0, .3);
    background-blend-mode: color;
}

.container_home{
    background-color: rgba(0, 0, 0, .5);
    padding: 5rem 9rem;
    border-radius: 10px;
    text-align: center;
}

.container_home h1{
    font-size: 3.3rem;
    color: #fff;
}

.container_home a{
    display: inline-block;
    padding: 15px 50px;
    background-color: #483D8B;
    border-radius: 12px;
    color: #fff;
    font-size: 2rem;
    margin: 10px auto;
}

.lançamentos{
    padding: 20px;
}

.title{
    font-size: 3rem;
    text-align: center;
    margin: 10px auto;
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding: 20px;
    margin: 0px auto;
}

.card{
    width: 100%;
    max-width: 320px;
    box-shadow: 3px 3px 9px 1px;
    
}

.home{
    width: 320px;
    height: 250px;
    
}

.informaçao{
    padding: 15px;
    color: #111;
}

.preço{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
}

.comodos{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    font-size: 2rem;
    margin-bottom: 10px;
    
}

.endereço{
    font-size: 2rem;
    margin: 15px 10px ;
}